.post-wrapper {
	width: inherit;
	clear: both;
	height: 80px;
	overflow: hidden;
	margin-bottom: 0 !important;
	border-bottom: 2px solid #202020;
}
.datebox {
	float: left;
	background: #E6822B;
	color: #fafafa;
	text-align: center;
	padding: 2px 10px;
	height: 100%;
	width: 10%;
}
.datebox p, .datebox h2 {
	margin-bottom: 5px;
}
.titlebox {
	float: left;
	height: 100%;
	color: #fafafa;
	padding: 27px 0 27px 15px;
	vertical-align: middle;
	text-shadow: 2px 2px 1px #000;
}

.linkbox {
	display: block;
	height: 80px;
	background-size: cover;
	background-position: top left;
	transition: all 0.4s;
}
.linkbox:hover, .linkbox:focus, .linkbox:active {
	background-position: center center;
}